<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileInfoAppender" />
      <appender-ref ref="LogFileErrorAppender" />
      <appender-ref ref="LogConsoleAppender" />
    </root>
    <!--(高) OFF > FATAL > ERROR > WARN > INFO > DEBUG > ALL (低)-->
    <logger name="log4netLevel">
      <level value="ALL" />
    </logger>
    <appender name="LogFileInfoAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="./Log/" />
      <param name="AppendToFile" value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <Encoding value="UTF-8" />
      <param name="MaxSizeRollBackups" value="-1" />
      <param name="StaticLogFileName" value="false" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyy/MM/yyyyMMdd&quot;Info.log&quot;" />
      <param name="MaximumFileSize" value="10MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="【%date】%m %newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="Info" />
        <param name="LevelMax" value="Info" />
      </filter>
    </appender>
    <appender name="LogFileErrorAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="./Log/" />
      <param name="AppendToFile" value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <Encoding value="UTF-8" />
      <param name="MaxSizeRollBackups" value="-1" />
      <param name="StaticLogFileName" value="false" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyy/MM/yyyyMMdd&quot;Error.log&quot;" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="【%date】%newline【文件名】%file%newline【行号】 %line%newline【程序运行时间】%r%newline【出错类】%logger%newline【错误描述】%message %newline%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="Error" />
        <param name="LevelMax" value="Error" />
      </filter>
    </appender>
    <appender name="LogConsoleAppender" type="log4net.Appender.ColoredConsoleAppender,log4net">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="【%date】%m %newline" />
      </layout>
    </appender>
  </log4net>
</configuration>